BOT_TOKEN=\nDATABASE_URL=\nSOLANA_RPC_URL=https://api.mainnet-beta.solana.com\nTOM_MINT=8GPzPsLp4ZFveMKjVrPA7giEBEcAY5Yo2X3QysvJQgTE\nTREASURY_ADDRESS=DmqV7Utif7TEruBkd4AuLrzp2Zw2VpoaPP1tgjjoxcqf\nTREASURY_PRIVATE_KEY=\nEXECUTION_ENABLED=false\nMAX_SWAP_SOL=0.25\nPORT=8080\nADMIN_CHAT_ID=